@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292c30;
}

.main-bg {
  clip-path: polygon(0 0 , 100% 0 , 100% 80% , 50% 100% , 0 80%);
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.main-bg-2 {
  width: 100vw;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1420' height='600' preserveAspectRatio='none' viewBox='0 0 1400 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cpath d='M215.373%2c228.445C246%2c227.619%2c268.883%2c202.196%2c282.072%2c174.542C293.431%2c150.725%2c288.141%2c124.445%2c276.193%2c100.918C262.629%2c74.208%2c245.306%2c44.389%2c215.373%2c43.197C184.181%2c41.955%2c160.416%2c68.27%2c145.54%2c95.715C131.465%2c121.682%2c128.382%2c152.178%2c142.134%2c178.317C156.898%2c206.378%2c183.677%2c229.3%2c215.373%2c228.445' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M413.597%2c410.31C433.788%2c410.842%2c450.98%2c396.506%2c460.443%2c378.662C469.313%2c361.937%2c467.694%2c342.241%2c458.464%2c325.712C448.971%2c308.711%2c433.063%2c295.255%2c413.597%2c294.769C393.358%2c294.264%2c374.081%2c305.443%2c364.678%2c323.372C355.836%2c340.232%2c361.502%2c359.711%2c370.838%2c376.303C380.41%2c393.314%2c394.085%2c409.796%2c413.597%2c410.31' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M166.948%2c524.291C222.568%2c525.257%2c273.653%2c494.674%2c302.007%2c446.815C330.937%2c397.983%2c335.58%2c337.015%2c306.923%2c288.023C278.521%2c239.467%2c223.177%2c214.262%2c166.948%2c215.92C113.545%2c217.495%2c66.748%2c249.302%2c40.578%2c295.879C14.96%2c341.473%2c14.457%2c396.501%2c39.775%2c442.262C65.949%2c489.57%2c112.89%2c523.352%2c166.948%2c524.291' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M817.084%2c576.483C855.05%2c575.56%2c880.541%2c541.006%2c897.589%2c507.07C912.638%2c477.113%2c914.881%2c442.816%2c899.085%2c413.247C882.285%2c381.8%2c852.736%2c356.587%2c817.084%2c356.372C781.121%2c356.155%2c751.063%2c380.947%2c733.352%2c412.248C715.937%2c443.026%2c713.44%2c479.651%2c729.502%2c511.156C747.232%2c545.932%2c778.061%2c577.431%2c817.084%2c576.483' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M622.253%2c78.624C639.537%2c78.583%2c659.836%2c78.739%2c668.253%2c63.643C676.565%2c48.737%2c665.487%2c31.817%2c656.41%2c17.364C648.141%2c4.197%2c637.765%2c-8.54%2c622.253%2c-9.601C604.982%2c-10.783%2c588.152%2c-2.576%2c578.911%2c12.062C569.015%2c27.738%2c565.761%2c48.326%2c575.876%2c63.861C585.364%2c78.432%2c604.865%2c78.665%2c622.253%2c78.624' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1079.08%2c361.455C1123.074%2c363.052%2c1157.025%2c327.468%2c1178.97%2c289.304C1200.833%2c251.283%2c1210.995%2c206.063%2c1190.83%2c167.114C1169.105%2c125.151%2c1126.326%2c95.547%2c1079.08%2c96.365C1033.019%2c97.163%2c993.545%2c129.231%2c973.84%2c170.872C956.584%2c207.338%2c971.508%2c247.164%2c991.01%2c282.48C1011.439%2c319.476%2c1036.846%2c359.922%2c1079.08%2c361.455' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M933.411%2c576.535C981.695%2c578.957%2c1029.468%2c554.126%2c1051.995%2c511.35C1073.312%2c470.872%2c1056.277%2c424.753%2c1034.547%2c384.495C1011.249%2c341.332%2c982.313%2c295.452%2c933.411%2c291.653C879.207%2c287.442%2c824.24%2c317.271%2c800.824%2c366.337C779.58%2c410.852%2c807.471%2c458.687%2c833.786%2c500.405C857.684%2c538.292%2c888.672%2c574.291%2c933.411%2c576.535' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M321.675%2c380.433C339.315%2c381.443%2c358.2%2c377.121%2c367.643%2c362.187C377.631%2c346.392%2c376.136%2c325.772%2c366.276%2c309.897C356.925%2c294.842%2c339.396%2c287.922%2c321.675%2c288.178C304.44%2c288.427%2c287.489%2c296.012%2c279.249%2c311.152C271.309%2c325.74%2c275.329%2c343.233%2c284.003%2c357.397C292.242%2c370.851%2c305.925%2c379.531%2c321.675%2c380.433' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M149.07%2c584.794C178.142%2c586.105%2c208.203%2c575.824%2c223.111%2c550.83C238.329%2c525.317%2c235.348%2c492.501%2c218.861%2c467.789C203.955%2c445.448%2c175.911%2c440.778%2c149.07%2c439.855C119.836%2c438.85%2c85.57%2c437.651%2c70.443%2c462.687C55.039%2c488.18%2c69.632%2c519.595%2c85.757%2c544.637C100.259%2c567.158%2c122.311%2c583.587%2c149.07%2c584.794' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1007.474%2c166.082C1021.193%2c166.608%2c1034.876%2c161.374%2c1042.292%2c149.82C1050.315%2c137.32%2c1052.426%2c120.905%2c1044.556%2c108.308C1037.038%2c96.274%2c1021.644%2c93.349%2c1007.474%2c94.09C994.748%2c94.755%2c982.885%2c100.807%2c976.552%2c111.865C970.257%2c122.857%2c970.715%2c136.314%2c976.991%2c147.317C983.327%2c158.426%2c994.694%2c165.592%2c1007.474%2c166.082' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M779.073%2c283.235C815.565%2c283.376%2c845.856%2c260.08%2c866.056%2c229.689C889.296%2c194.724%2c912.198%2c151.087%2c890.996%2c114.85C869.901%2c78.796%2c820.813%2c79.401%2c779.073%2c81.025C741.082%2c82.503%2c700.36%2c90.122%2c681.286%2c123.011C662.165%2c155.982%2c673.389%2c196.489%2c693.245%2c229.022C712.139%2c259.98%2c742.805%2c283.095%2c779.073%2c283.235' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M462.86%2c476.596C499.361%2c474.518%2c523.231%2c443.237%2c542.231%2c412.002C562.342%2c378.939%2c583.612%2c341.061%2c566.382%2c306.409C547.807%2c269.052%2c504.487%2c249.592%2c462.86%2c252.373C425.227%2c254.887%2c399.493%2c286.041%2c380.811%2c318.806C362.361%2c351.164%2c348.943%2c388.979%2c366.127%2c422.026C384.433%2c457.23%2c423.245%2c478.851%2c462.86%2c476.596' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1313.471%2c206.092C1348.557%2c208.797%2c1387.715%2c198.234%2c1403.867%2c166.97C1419.265%2c137.164%2c1399.837%2c103.52%2c1380.695%2c75.968C1364.841%2c53.149%2c1341.185%2c38.855%2c1313.471%2c36.854C1281.089%2c34.515%2c1243.45%2c36.865%2c1227.025%2c64.87C1210.494%2c93.057%2c1227.311%2c126.805%2c1244.371%2c154.675C1260.436%2c180.92%2c1282.79%2c203.727%2c1313.471%2c206.092' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M889.064%2c186.62C910.992%2c185.303%2c931.318%2c176.052%2c943.291%2c157.635C956.547%2c137.245%2c963.746%2c111.29%2c951.814%2c90.098C939.714%2c68.608%2c913.724%2c61.674%2c889.064%2c61.329C863.638%2c60.973%2c836.982%2c66.931%2c823.198%2c88.299C808.361%2c111.299%2c807.016%2c142.163%2c822.249%2c164.902C836.219%2c185.755%2c864.009%2c188.124%2c889.064%2c186.62' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M600.509%2c535.657C620.8%2c534.951%2c640.751%2c527.402%2c651.22%2c510.006C662.002%2c492.09%2c662.449%2c469.086%2c651.169%2c451.479C640.627%2c435.024%2c620.037%2c430.102%2c600.509%2c430.851C582.461%2c431.544%2c566.421%2c440.26%2c556.163%2c455.125C543.981%2c472.777%2c532.944%2c494.975%2c543.29%2c513.763C553.848%2c532.936%2c578.634%2c536.418%2c600.509%2c535.657' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1346.416%2c185.013C1386.148%2c183.414%2c1409.6%2c145.25%2c1429.266%2c110.689C1448.625%2c76.667%2c1467.438%2c38.101%2c1449.932%2c3.09C1430.966%2c-34.842%2c1388.819%2c-55.71%2c1346.416%2c-55.005C1305.182%2c-54.319%2c1268.599%2c-29.682%2c1248.694%2c6.436C1229.476%2c41.308%2c1232.036%2c82.928%2c1251.15%2c117.857C1271.14%2c154.387%2c1304.808%2c186.688%2c1346.416%2c185.013' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1069.091%2c323.561C1083.935%2c323.058%2c1096.58%2c314.361%2c1104.521%2c301.809C1113.162%2c288.151%2c1118.366%2c271.532%2c1111.164%2c257.063C1103.254%2c241.172%2c1086.842%2c230.689%2c1069.091%2c230.634C1051.252%2c230.579%2c1035.048%2c241.108%2c1026.566%2c256.802C1018.475%2c271.772%2c1020.103%2c290.005%2c1029.245%2c304.358C1037.735%2c317.686%2c1053.298%2c324.096%2c1069.091%2c323.561' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M219.597%2c255.321C236.948%2c255.146%2c251.767%2c243.514%2c259.868%2c228.169C267.44%2c213.827%2c265.774%2c196.984%2c257.877%2c182.818C249.74%2c168.221%2c236.309%2c156.047%2c219.597%2c155.931C202.72%2c155.814%2c188.755%2c167.625%2c180.389%2c182.282C172.104%2c196.798%2c169.987%2c214.271%2c177.892%2c228.997C186.226%2c244.522%2c201.978%2c255.499%2c219.597%2c255.321' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M638.334%2c84.195C653.332%2c85.298%2c668.81%2c78.82%2c676.141%2c65.689C683.329%2c52.816%2c679.175%2c37.304%2c671.567%2c24.674C664.246%2c12.52%2c652.513%2c2.397%2c638.334%2c2.927C624.823%2c3.432%2c615.244%2c14.943%2c609.14%2c27.006C603.696%2c37.765%2c603.59%2c50.016%2c609.072%2c60.756C615.162%2c72.686%2c624.975%2c83.212%2c638.334%2c84.195' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M572.484%2c72.786C587.865%2c72.895%2c603.727%2c67.111%2c611.002%2c53.559C617.988%2c40.547%2c612.626%2c25.185%2c604.743%2c12.696C597.489%2c1.203%2c586.072%2c-7.159%2c572.484%2c-7.465C558.357%2c-7.784%2c545.061%2c-0.82%2c537.602%2c11.182C529.696%2c23.905%2c527.515%2c39.987%2c534.895%2c53.022C542.37%2c66.225%2c557.312%2c72.679%2c572.484%2c72.786' fill='rgba(0%2c 0%2c 0%2c 0.57)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1400' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.reverse-bg {
  background-image: linear-gradient(90deg, #FC00FF 0%, #00DBDE 100%);
}

.txt-gradiant {
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.neonLamp-1 {
  border: 2px solid #00DBDE;
  background: #00DBDE;
  box-shadow: 
      0 0 5px #00DBDE, 
      0 0 10px #00DBDE, 
      0 0 20px #00DBDE, 
      0 0 40px #00DBDE, 
      0 0 80px #00DBDE;
  transition: all 0.3s ease-in-out;
}

.neonLamp-2 {
  border: 2px solid #FC00FF;
  background: #FC00FF;
  box-shadow: 
      0 0 5px #FC00FF, 
      0 0 10px #FC00FF, 
      0 0 20px #FC00FF, 
      0 0 40px #FC00FF, 
      0 0 80px #FC00FF;
  transition: all 0.3s ease-in-out;
  animation: spin 2.5s ease-in-out;
}

.lamp-1 {
  animation: lamp1 2.5s ease-in-out infinite;
}
.lamp-2 {
  animation: lamp2 2.5s ease-in-out infinite;
}

@keyframes lamp1 {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes lamp2 {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.link {
  color: #FC00FF;
  text-decoration: underline;
}

.skill::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  left: -50%;
  top: -50%;
  background: conic-gradient(from 90deg, 
  rgba(0, 0, 0, 0) 70%, 
  rgba(251, 0, 255, 0.9) 80%, 
  #00DBDE 100%);
  animation: rotate 2s infinite linear;
  z-index: -5;

}

@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}